#lasso--edit {
    background:#ffcc01;
    -webkit-animation:bounce 1.5s 5;
    animation:bounce 1.5s 5;

  }
  .aesop-video-poster_frame {
      display:none !important;
  }
  
  ul.lasso-component--controls {
      left:0;
  }
  #lasso-toolbar--p {
      display: none;
  }
  #lasso--edit:hover {
    animation-play-state: paused;
  }
  
  li[title]:hover:after {
      content: attr(title);
      padding: 10px 12px;
      color: #ffcc01;
      position: absolute;
      left: 0;
      bottom: 50px;
      white-space: nowrap;
      z-index: 20;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      -moz-box-shadow: 0px 0px 2px #c0c1c2;
      -webkit-box-shadow: 0px 0px 2px #c0c1c2;
      box-shadow: 0px 0px 2px #c0c1c2;
      background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
      background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #eeeeee));
      background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
      background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
      background-image: -ms-linear-gradient(top, #ffffff, #eeeeee);
      background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
  }